.StoryCard {
  width: 340px;
  height: 459px;
  margin: 1rem;
  border-radius: 0.76rem;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.Story-Header-Description-Container {
  padding: 0.9rem;
  background-image: linear-gradient(
    180deg,
    #3c3a3a8f 59.6%,
    rgba(62, 59, 59, 0.92) 102.31%
  );
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.76rem;
}
.Story-Header {
  color: #fff;
  text-align: start;
  width: 100%;
}
.Story-Description {
  color: #fff;
  padding: 0.7rem 0;
}

.StoryCard-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.Story-Edit-Button {
  border: none;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  height: 34px;
  width: 79px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  color: #000000;
  padding: 0.4rem 0;
  font-weight: 700;
}
